html {
  font-family: "cursive";
  background-color: black;
  
}
div.App {
  background-color: black;
  flex-wrap: wrap;
  height: max-content;
}

div.navbar {
  justify-content: center;
  padding-top: 0.5rem;
  padding-bottom: 15rem;
  background: url("https://www.pngkey.com/png/full/339-3391111_time-and-expertise-to-organizations-around-nashville-nashville.png");
  background-position: center;
  background-size: cover;
  font-family: cursive;
  background-color: white;
  border-spacing: 0rem;
  max-width: 100%;
  height: auto;
}


.home-h1 {
  text-align: center;
  padding-top: 1rem;
  padding-bottom: auto;
  font-family:cursive;
  color: rgb(247, 247, 247);
  font-size: xxx-large;
}

.home-container {
  padding-bottom: 8rem;
}

.home-card{
  width: 40rem;
  height: 40rem;
}

.carousel-inner {
  box-sizing:content-box;
  /* border-radius: 25px; */
}

/* signup */
.signup-h1 {
  text-align: center;
  color: white;
  font-family:cursive;
  font-size: xxx-large;
}

.signup-p {
  text-align: center;
  font-size: small;
  font:italic;
  color: white;
}
.signup-form {
  text-align: center;
  justify-content: space-evenly;
}

.form-label {
  color: white;
  font-family: cursive;
  padding-bottom: 1rem;
  flex-wrap: wrap;
}

input {
  height: 35px;
  width: 250px;
}

.input-submit {
  width: 130px;
  text-align: center;
}


/* login */
.login-h1 {
  text-align: center;
  color: white;
  font-family: cursive;
}

.login-form {
  text-align: center;
  justify-content: space-evenly;
}

.login-btn {
  height: max-content;
  width: max-content;
}
/* listing */
#listing-collection {
  justify-content: space-evenly;
  display: inline-flex;
  flex-wrap: wrap;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card {
  text-align: left;
  border: none;
  padding: 1rem;
  width: 25rem;
  height: 40rem;
  display: inline-grid;
  margin: 1rem 2rem;
}

/* profile */
.profile-card {
  text-align: center;
  width: 15rem;
  height: 15rem;
  font-family: cursive;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
}

.new-username-input {
  height: 35px;
  width: 150px;
}

.delete-btn {
  float: right;
  position: relative;
  border: none;
  height: 1rem;
  width: max-content;
  font-size: 10px;
  justify-self: center;
  background-color: white;
}

.add-review-btn {
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  height: 1rem;
  width: max-content;
  font-size: 10px;
  /* justify-self: center; */
  float: right;
  margin-bottom: 4px;
}

.new-item-input-text {
  position: relative;
  justify-self: center;
  width: 80%;
}